
body
{
    background-color: #E3F6FF;
}
h1
{
    color: #3D1766;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
img
{   
    height: 30px;
    width: 40px;
}
a{
    color: red;
    font-size: 19px;
}